.menu {
    font-weight: bold;
    cursor: pointer;
    background: url('../assests/plus.svg') left 1px no-repeat;
    background-size: 14px;
    padding-right: 6px;
    padding-left: 16px
}

.list {
    display: none;
    font-weight: normal;
}

.open {
    display: block;
}
