@font-face {
    font-family: 'MyFont';
    src: url('../../assets/fonts/OtomanopeeOne-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: white;
    font-family: 'MyFont', serif;
    background: url('../../assets/images/test.png')
}
